/* About and modal */

.btn.about {
    max-width: 200px;
    margin: 1rem auto;
}

#aboutContainer {
    position: absolute;
    bottom: calc(40px + 0.5rem);
    z-index: 10000;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 1rem);
    max-width: 500px;
}

#aboutContainer.hidden {
    display: none;
}

#aboutContent {
    padding: 0.5rem;
    max-width: 500px;
    height: fit-content;
    background-color: #F0DCCA;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.aboutCloseButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 24px;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #fff7e9;
}

.aboutTitle {
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

.aboutText {
    font-size: 0.9rem;
    padding: 0 0.5rem 0.5rem;
    text-align: justify;
}

.aboutText a {
    color: #804a3e;
    font-weight: 500;
}

.about-button {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 2px solid #d4dadc;
    font-size: 1.4em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.17);
}

.about-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-modal.hidden {
    display: none;
}

.about-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 16px 16px;
    background-color: #f9f9f9;
    border: 2px solid #c8c8c8;
    border-radius: 16px;
}

.about-modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 1.4em;
}

.about-modal-content p {
    text-align: justify;
}

.about-modal-content h1 {
    font-weight: 650;
    font-size: 1.6em;
}
.about-modal-content h2 {
    font-weight: 600;
    font-size: 1.4em;
}
.about-modal-content h3 {
    font-weight: 600;
    font-size: 1.2em;
}