/* Legend */

.legendContainer {
    margin: auto;
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
    width: fit-content;
}

@media (max-width: 750px) {
    .legendContainer {
        max-width: 400px;
    }
}

.legendContainer.hidden {
    display: none;
}

.legendLabels {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.2rem;
}

.legendLabel {
    width: fit-content;
}

.legendContent {
    display: flex;
    margin-top: 0.5rem;
    width: calc(100% - 1rem);
}

.legendContent.hidden {
    display: none;
}

.legendV2 {
    display: contents;
}

.legendUnits {
}

.legend-container {
    background-color: #f9f9f9;
    border: 2px solid #c8c8c8;
    border-radius: 16px;
    bottom: 32px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.17);
    /* display: flex; */
    /* flex-direction: row; */
    padding: 8px;
    right: 32px;
    position: fixed;
    z-index: 1000;
    width: min-content;
}

.legend-container.hidden {
    display: none;
}

.legend-container .hidden {
    display: none;
}

.legend-container .legend-optimal-time {
    text-align: center;
}

.legend-container .legend-optimal-time strong {
    font-weight: 550;
}

.column-wrapper {
    display: flex;
    flex-direction: row;
}

.column-wrapper .column {
    display: flex;
    flex-direction: column;
    max-width: 100px;
}

#legend-show-max-distance ~ label {
    text-align: center;
}

.legend {
    border: 0;
    border-radius: 8px;
    margin: 0;
}

.legend-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.2rem;
    color: black;
    height: 40px;
    text-align: center;
    width: 40px;
    min-width: 40px;
    max-width: 50px;
}

.legend-entry div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-entry .area {
    font-size: 0.8rem;
}

.legend-controls {
    align-items: center;
    width: calc(96px - 2px);
    display: block;
}

.legend-controls .slider {
    height: 24px;
}

.legend-controls.hidden {
    display: none;
}

.optimal-container {
    text-align: center;
}

.optimal-container.hidden {
    display: none;
}

.optimal-container strong {
    display: block;
    font-weight: 600;
    font-size: 0.9em;
}