body.no-scroll {
    overflow: hidden;
}

#rootGazaMap {
    font-family: Montserrat, sans-serif;
    max-width: 900px;
    background-color: white;
}

#map {
    height: 600px;
}

.radio-layer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 14px;
}

@media (max-width: 550px) {
    .radio-layer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.radio-layer .radioItem {
    flex: 1 1 auto;
    text-align: center;
}

.radio-layer .radioItem input {
    display: none;
}

.radio-layer .radioItem .radioLabel {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-layer .radioItem input:checked + .radioLabel {
    background-color: #fff;
    font-weight: 600;
}

.legendTitle {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.legendContainer {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.legendItem {
    display: block;
    gap: 0.5rem;
    width: 150px;
}

.legendColor {
    width: 100%;
    height: 0.5rem;
}

.legendLabel {
    text-align: center;
    padding: 0 0.2rem;
}

#color1 {
    background-color: #fecc5c;
}

#color2 {
    background-color: #fd8d3c;
}

#color3 {
    background-color: #f03b20;
}

#color4 {
    background-color: #bd0026;
}