@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body.no-scroll {
    overflow: hidden;
}

#root {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    background-color: white;
}

#map {
    height: 600px;
}

.radio-layer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 14px;
}

@media (max-width: 550px) {
    .radio-layer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.radio-layer .radioItem {
    flex: 1 1 auto;
    text-align: center;
}

.radio-layer .radioItem input {
    display: none;
}

.radio-layer .radioItem .radioLabel {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-layer .radioItem input:checked + .radioLabel {
    background-color: #fff;
    font-weight: 600;
}

.legendTitle {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.legendContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    padding-top: 1rem;
}

.legendContainer img {
    width: 100%;
    max-width: 300px;
}