/* Form */

.formContainer {
    margin: 0 auto 1rem;
    max-width: 900px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: start;
}

#simpleOptions {
    align-items: start;
}

#advancedOptions {
    display: none;
    background-color: #F0DCCA;
    padding: 1rem;
    border-radius: 1rem;
}

.geoOptions {
    max-width: 50%;
}

@media (max-width: 750px) {
    .formContainer {
        max-width: 600px;
    }

    .formGrid {
        grid-template-columns: 1fr;
    }

    .geoOptions {
        max-width: 450px;
        margin: 0 auto;
    }
}

form label {
    margin-bottom: 8px;
}

.form-group {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
}

.form-group.hidden {
    display: none;
}

.form-group > .btn {
    max-width: 450px;
}

.formCheckbox {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.formCheckbox.advancedOptionsCheckbox{
    margin: 1rem;
    justify-content: center;
}

.formCheckbox .formCheckboxInput {
    appearance: none;
    background-color: #c6c6c6;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    position: relative;
    width: 30px;
 }

.formCheckbox .formCheckboxInput::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.formCheckbox .formCheckboxInput,
.formCheckbox .formCheckboxInput::after {
    transition: all 100ms ease-out;
}

.formCheckbox .formCheckboxInput::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.formCheckbox input[type=checkbox] {
    cursor: default;
}

.formCheckbox .formCheckboxInput:hover {
    background-color: #c6c6c6;
    transition-duration: 0s;
}

.formCheckbox .formCheckboxInput:checked {
    background-color: #564946;
}

.formCheckbox .formCheckboxInput:checked::after {
    background-color: #fff;
    left: 13px;
}

.formCheckbox :focus:not(.focus-visible) {
    outline: 0;
}

.formCheckbox .formCheckboxInput:checked:hover {
    background-color: #564946;
}

.formCheckbox label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}

.geoOptionsCheckbox {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    column-gap: 0;
    margin-bottom: 1rem;
    border: 2px solid #564946;
    border-radius: 0.3rem;
    background-color: #f3f3f3;
    font-size: 13px;
}

.geoOptionsCheckbox input {
    visibility: hidden;
    margin: 0;
    width: 0 !important;
}

.geoOptionsCheckbox label {
    padding: 0.3rem;
    opacity: 1;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #f3f3f3;
}

.geoOptionsCheckbox label.selected {
    opacity: 1;
    background-color: #F0DCCA;
}

.btn-content-initial, .btn-content-active, .btn-content-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

label img {
    height: 25px;
    margin-right: 0.2rem;
}

.locationInput {
    display: flex;
    justify-content: space-between;
}

.locationInput *.hidden{
    display: none;
}

.locationInput input:disabled {
    background-color: lightgrey;
}

.results {
    position: absolute;
    z-index: 10000;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}
.result-item {
    padding: 5px;
}
.result-item:hover {
    background: #eee;
}

.active {
    background: #dcdcdc;
}

.clearBtn {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
}

.btn-secondary .clearBtn {
    display: block;
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 5px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.optimalTimeLabel {
    margin-top: 0.3rem;
    font-weight: 300;
}

.optimalTimeLabel span {
    font-weight: 500;
    margin-left: 0.5rem;
}

.optimalTimeLabel.hidden {
    display: none;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
}

.form-container-outer {
    bottom: 32px;
    left: 32px;
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

.form-container {
    background-color: #f9f9f9;
    border: 2px solid #c8c8c8;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.17);
    padding: 16px;
    max-width: 340px;

    /* Cap form to 80% of the viewport height, scroll if necessary */
    max-height: 80vh;
    overflow: scroll;
}

.toggle-form-display {
    border: 2px solid #c8c8c8;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.17);
    cursor: pointer;
    height: 40px;
    padding: 8px;
    position: absolute;
    right: -56px;
    top: 0;
    width: 40px;
}

.toggle-form-display img {
    height: 100%;
    transition: 0.5s ease-in-out;
    width: 100%;
}

.hide-form {
    left: calc(16px - 340px);
}

.hide-form .toggle-form-display img {
    transform: rotate(180deg);
}

.form-group label {
    margin-bottom: 8px;
}

.form-group.disabled {
    color: grey;
}

.disabled button {
}

.selecting-origin-point {
    color: #e2453c;
    border-color: #e2453c;
}

.selecting-origin-point:hover {
    border-color: rgba(226, 69, 60, 0.6);
    background-color: #f8f2f1;
}

.origin-point-coord {
    font-style: italic;
    margin-top: 6px;
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-checkbox label {
    display: inline;
    margin: 0;
    overflow-x: hidden;
}

/* Form controls point 2 */

#ctrls-point-2-hidden {
    /* display: block; */
    max-height: 48px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#ctrls-point-2-hidden a {
    max-height: 32px;
    text-decoration: none;
}

#ctrls-point-2-inner {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#ctrls-point-2-hidden.hidden {
    max-height: 0;
    /* display: none; */
    transition: 0.2s ease-in-out;
}

#ctrls-point-2-inner.hidden {
    /* display: block; */
    max-height: 100px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.closable-label {
    display: flex;
    justify-content: space-between;
}

.clickable-label {
    cursor: pointer;
    font-weight: 600;
    color: #201f1f80;
    text-decoration: none;
}

.clickable-label:hover {
    color: #201f1f;
    text-decoration: none;
}